.container-fluid {
	padding-bottom: 0.2%;
	font-family: arial, san-serif;
	background-color: black
}

ul{
	list-style: none;
	margin:0 ;
	padding: 0;
	overflow: hidden;
}

li {
	display: inline;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul li a, ul.nav li a:visited {
    color: #A4E869; //yellow-lime
}

ul li a:hover, ul.nav li a:active {
    color: #38c5fc; //logo-blue
}

ul li.active a {
    color: #b5b59c; //light-brown
}

.active1 {
	color: white; 
}

.active2 {
	color: white; 
}

.active3 {
	color: white; 
}

/*START OF PAGE CSS */

html {
	overflow: none; 
	touch-action: none;
	content-zooming: none;
}

body {
	margin: 0px;
	padding: 0;
	background: #000; //black
	position: absolute;
	width: 100%;
	height: 100%;
}

#demo {
	color: white;

	z-index:100;
	font-family: arial;
	background-color: black;
}

#question {
	color: white;
	font-family: arial;
	background-color: black;
	font-size:40px;
}

#screen {
	position: absolute;
	width: 100%;
	height: 100%;
}

#screen .img {
	position: absolute; 
	cursor: pointer;
	width: 100%;
	height: 100%;
	user-select: none;
}

#screen .frame{
	position: absolute;
	width: 50%;
	height: 50%;
}
#images {
	display: none;
}

